*.tgz
bookmarklet/
docs/
.serverless
serverless.yml
.webpack
build
coverage
.nyc_output
.eslintrc.js
.eslintignore
.circleci
test/
.travis.yml
usage.md

# git stuff              
.github/CONTRIBUTING.md         
.github/ISSUE_TEMPLATE.md       
.github/PULL_REQUEST_TEMPLATE.md

# pipeline release config
.releaserc.json
